p {

    color: blue;
    font-size: 32px; /* устанавливает размер шрифта. */
    text-align: left; /* он выравнивает текст по горизонтали */
    margin: 20px; /* задает внешние отступы элемента. */  

}


h1 {

    font-weight: 187293173; /* устанавливает толщину шрифта. */
    margin: 60px ;
}

body {
    background-image: url(e7a089a2cfe632e437e5c07ed5e3d229.jpg); /* устанавливает фоновое изображение для элемента. */

}


div {
    background-color: rgb(109, 97, 97); /* устанавливает цвет фона элемента. */
   padding: 45px;
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    border: 0.1cm solid black; /* устанавливает границу элемента. */
    border-radius: 25%; /* устанавливает радиус скругления углов элемента. */
    overflow: hidden;/*управляет тем, что происходит с содержимым, если оно выходит за границы блока. */
    
    
}