
.box {
    width: 50%;
   background-color: lightblue;/*он менят ццвет фона*/
   height: 100px;
}   

.text {
   font-size: 2em; /*он увеличивает размер текста в 2 раза по сравнению с родителем*/
}



.text2 {
  font-size: 20px;
}




.rem {
  font-size: 2rem;/*он увеличивает размер текста в 2 раза по сравнению с корневым элементом*/           
   
}

html {
  font-size: 34px;
}

p {
 color : rgb(0, 238, 255);

}/*ну тут понятно*/
p1 {
  color: rgba(255, 0, 0, 0.5);
}