.button:hover {
background-color: aliceblue;
color: aquamarine;
}
.input:focus {
   border-color: #2bff00;
}


.fds:first-child {
   font-weight: bold;
}

.fds:last-child {
   color: #00ff80;
}

.Lesson-link:hover {
   font-size: 20px;
   color: #00ff80;
   font-weight: bold;
}


.fds:nth-child(odd) {
   background-color: #f9f9f9;
}

.fds:nth-child(even) {
   background-color: #e9e9e9;
}
